{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row align-items-center justify-content-start" style="min-height: calc(100vh - 56px);">
        <div class="col-12 col-md-6 ml-md-5">
            <h1 class="display-4 text-white text-left ml-md-3">Fuel Your Day, Brew Your Way!</h1>
            <div class="my-5 text-left ml-md-3">
                <a href="{% url 'products' %}" class="btn btn-black btn-lg shop-now-button">Shop now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
