{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid main">
    <div class="row align-items-center justify-content-center" style="min-height: calc(100vh - 56px);">
        <div class="col-12 col-md-6 text-center custom-margin-lg">
            <h1 class="display-4 main-title">Fuel Your Day, Brew Your Way!</h1>
            <div class="my-5">
                <a href="{% url 'products' %}" class="btn shop-now-button">Shop now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}