{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center my-1">
            <h1>Your Wishlist</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            {% if user_wishlist %}
                <div class="row">
                    {% for item in user_wishlist %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                        <div class="card h-100">
                            <a href="{% url 'product_detail' item.product.id %}" class="img-container">
                                <img src="{{ item.product.image.url }}" class="card-img-top img-fluid" alt="{{ item.product.name }}">
                            </a>
                            <div class="card-body pb-0">
                                <p class="card-title">{{ item.product.name }}</p>
                                <p class="card-text">£{{ item.product.price }}</p>
                                <a href="{% url 'toggle_wishlist' item.product.id %}" class="btn cancel-btn mt-2">Remove</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center">Your wishlist is empty.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
