/* Rating products */
.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.review-form-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: white;
    border-radius: 5px;
}

.rating-container {
    display: flex;
    margin: 10px 0;
}

.rating-container input[type="radio"] {
    display: none;
}

.rating-container label {
    font-size: 2em;
    cursor: pointer;
    transition: color 0.2s;
    margin-right: 10px; 
}

.rating-container label:last-child {
    margin-right: 0; 
}

.rating-container input[type="radio"]:checked ~ label,
.rating-container input[type="radio"]:checked ~ label ~ label {
    color: gold; 
}

.reviews-list {
    width: 80%;
    margin: auto;
}

.review-item {
    background: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.review-actions {
    display: flex;
    align-items: center;
}

.review-actions .btn {
    margin-right: 10px;
    padding: 0;
    border: none;
    background: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.review-actions .btn:hover {
    text-decoration: none;
}

.review-actions .btn-link {
    margin: 0 5px;
    color: inherit;
    text-decoration: none;
}

.review-actions .btn-link.text-danger {
    color: red;
}

.review-actions .btn-link.text-danger:hover {
    color: darkred;
}

.section-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-underline {
    width: 50px;
    border-top: 2px solid #000;
    margin: 0 auto 20px;
}

.reviews-toggle {
    cursor: pointer;
}

/* Pagination */

.pagination-container {
    display: inline-block;
    text-align: center;
}

.pagination-container a {
    margin: 0 5px;
}

/* Products nav bar */

.nav-custom a,
.nav-custom .dropdown-toggle {
    font-size: 1.2em;
}

.nav-custom a:hover,
.nav-custom .dropdown-toggle:hover {
    background-color: #D1CBB8 !important;
}

@media (max-width: 576px) {
  


/* Nav bar margins small screens */
.m-small-nav {
    margin:auto;
}

/* Center align dropdown menu */
.dropdown-menu-center {
    left: 50% !important;
    transform: translateX(-50%) translateY(10px) !important;
    top: auto !important;
}

.dropdown-submenu .dropdown-menu {
    position: relative;
    top: 0;
    left: 0;
    display: none;
    margin-left: 20px;
}

.margin-left-small{
    margin-left: 10px;
}

}

.wishlist-icon {
    font-size: 1.5em;
}

