{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container position-relative about-section">
    <div class="row">
        <div class="col text-center my-4">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row">
        <!-- Photo on the left -->
        <div class="col-lg-5 mb-4">
            <div class="image-container">
                <img src="{{ MEDIA_URL }}coffeedark.jpg" alt="Morning Coffee" class="img-fluid about-image" aria-label="Morning Coffee" />
            </div>
        </div>
        <div class="col-lg-7 about-text">
            <p>Welcome to Cafitio Corner, your go-to destination for premium coffee, machines, and accessories. Our mission is to provide high-quality beans, brews, and equipment to elevate your coffee experience.</p>
            <h2>Our Story</h2>
            <p>Founded in 2024, Cafitio Corner was born out of a passion for exceptional coffee. Inspired by our travels to coffee-growing regions, we created a space for coffee lovers to discover and enjoy the finest beans and brewing methods.</p>
            <h2>Our Mission</h2>
            <p>At Cafitio Corner, our mission is to offer a diverse selection of coffee and the best equipment for enthusiasts to craft their perfect cup at home. We aim to be a comprehensive resource for all coffee lovers.</p>
            <h2>Our Values</h2>
            <ul>
                <li><strong>Quality:</strong> We source only the finest coffee beans from trusted farms and roasters.</li>
                <li><strong>Sustainability:</strong> We promote sustainable practices and partner with environmentally responsible suppliers.</li>
                <li><strong>Community:</strong> We foster a community of coffee enthusiasts.</li>
            </ul>
            <h2>Join Us</h2>
            <p>Follow us on social media and subscribe to our newsletter for updates, tips, and exclusive offers. Thank you for choosing Cafitio Corner.</p>
        </div>
    </div>
</div>
{% endblock %}
