<div class="d-block d-md-none dropdown ps-2">
    <a class="dropdown-toggle link-dark" type="button" id="categories-dropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="categories-dropdown">
        <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}">All Products</a>
        <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=coffee_machine">Coffee Machine</a>
        <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=ground_bean_coffee">Ground &amp; Bean Coffee</a>
        <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=cups_and_mugs">Cups &amp; Mugs</a>
        <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=milk_frother">Milk Frother</a>
        <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=food_and_bites">Food &amp; Bites</a>
    </div>
</div>