<div class="d-block d-md-none dropdown ps-2 m-small-nav">
    <a class="dropdown-toggle link-dark" type="button" id="categories-dropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Categories
    </a>
    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="categories-dropdown">
        <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}">All Products</a>
        
        <!-- Coffee Machine -->
        <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle link-dark ps-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Coffee Machine</a>
            <div class="dropdown-menu">
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=ground_coffee_machines">Ground Coffee Machines</a>
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=coffee_bean_machines">Coffee Bean Machines</a>
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=coffee_machines">All Coffee Machines</a>
            </div>
        </div>

        <!-- Ground & Bean Coffee -->
        <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle link-dark ps-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ground & Bean Coffee</a>
            <div class="dropdown-menu">
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=ground_coffee">Ground Coffee</a>
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=beans_coffee">Beans Coffee</a>
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=ground_bean_coffee">All Coffee</a>
            </div>
        </div>

        <!-- Cups & Mugs -->
        <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle link-dark ps-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cups & Mugs</a>
            <div class="dropdown-menu">
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=coffee_cups">Coffee Cups</a>
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=travel_mugs">Travel Mugs</a>
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=espresso_cups">Espresso Cups</a>
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=cups_and_mugs">All Cups</a>
            </div>
        </div>

        <!-- Milk Frother -->
        <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle link-dark ps-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Milk Frother</a>
            <div class="dropdown-menu">
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=manual_milk_frother">Manual Milk Frother</a>
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=electric_milk_frother">Electric Milk Frother</a>
                <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=milk_frothers">All Milk Frothers</a>
            </div>
        </div>

        <a class="dropdown-item link-dark ps-2" href="{% url 'products' %}?category=food_and_bites">Food & Bites</a>
    </div>
</div>