<div class="d-none d-md-block text-center w-100">
    <a class="link-dark ps-2" href="{% url 'products' %}">All Products</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=coffee_machine">Coffe Machine</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=ground_bean_coffee">Ground &amp; Bean Coffee</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=cups_mugs">Cups &amp; Mugs</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=milk_frother">Milk Frother</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=food_bites">Food &amp; Bites</a>
</div>