<div class="d-none d-md-block text-center w-100">
    <a class="link-dark ps-2" href="{% url 'products' %}">All Products</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=coffee_machine">Coffee Machine</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=ground_bean_coffee">Ground & Bean Coffee</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=cups_and_mugs">Cups & Mugs</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=milk_frother">Milk Frother</a>
    <a class="link-dark ps-2" href="{% url 'products' %}?category=food_and_bites">Food & Bites</a>
</div>
