{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center logo-font my-1">
            <h1>Product Management</h1>
            <hr>
            <h5 class="text-left logo-font text-muted">Edit a Product</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' and field.name != 'rating' %}
                        {{ field | as_crispy_field }}
                    {% elif field.name == 'rating' %}
                        <div class="form-group">
                            <label for="id_rating">Rating:</label>
                            <div class="form-group rating-container edit-rating-container form-control border-black h-auto d-flex justify-content-start">
                                <input type="radio" id="rating1" name="rating" value="1" {% if field.value == 1 %}checked{% endif %}>
                                <label for="rating1" class="emoji-label">😠</label>
                                <input type="radio" id="rating2" name="rating" value="2" {% if field.value == 2 %}checked{% endif %}>
                                <label for="rating2" class="emoji-label">😐</label>
                                <input type="radio" id="rating3" name="rating" value="3" {% if field.value == 3 %}checked{% endif %}>
                                <label for="rating3" class="emoji-label">🙂</label>
                                <input type="radio" id="rating4" name="rating" value="4" {% if field.value == 4 %}checked{% endif %}>
                                <label for="rating4" class="emoji-label">😃</label>
                                <input type="radio" id="rating5" name="rating" value="5" {% if field.value == 5 %}checked{% endif %}>
                                <label for="rating5" class="emoji-label">😍</label>
                            </div>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-black rounded-0" type="submit">Update Product</button>
                </div>
            </form>
        </div>            
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
