{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid position-relative">
        <div class="row">
            <div class="col text-center">
                <h1>Products</h1>
            </div>
        </div>

        <!-- Category menu-->
        <div class="categories-menu row border-top border-bottom py-3 mb-3 logo-text">

            <!-- Display in larger screens -->
            {% include 'includes/products-nav.html' %}

            <!-- Display in smaller screens-->
            {% include 'includes/mobile-products-nav.html' %}
        </div>

        <!-- Product counter and link -->
        <div class="row">
            <div class="col-12 col-md-6 order-md-first d-flex justify-content-center justify-content-md-start">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a class="link-dark" href="{% url 'products' %}">Products Home</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for
                    <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>

            <!-- Sort selector -->
            <div class="sort-select-wrapper col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
                <select id="sort-selector"
                    class="custom-select custom-select-sm rounded border {% if current_sorting != 'None_None' %}border-blue{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                    </option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low
                        to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                        (high to low)</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating
                        (low to high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating
                        (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)
                    </option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                    </option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                        Category (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                        Category (Z-A)</option>
                </select>
            </div>
        </div>

        <!--Products container-->
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                            <div class="card h-100">
                                <div class="img-container">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}    
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  <!-- Back to top button -->
  <div class="btt-button shadow-sm border rounded">
    <a class="btt-link link-dark d-flex h-100">
        <i class="fas fa-arrow-up mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0);
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    });
</script>
{% endblock %}